body {
    /* background-color: #4283de; */
    background-image: url('coverimage.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 97vh;
}

.login-container {
    background-color: rgba(75, 74, 74, 0.6);    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4 8px rgba(0, 0, 0, 0.1);
    width: 40%;
    /* text-align: center; */
}

.login-form {
    display: flex;
    flex-direction: column;
}

.login-form h2 {
    margin-bottom: 20px;
}

.login-form label {
    margin-bottom: 5px;
    font-weight: bold;
}

.login-form input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-form button {
    padding: 10px;
    background-color: #02529C;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.login-form button:hover {
    background-color: #3573bd;
}

.divider{
    text-align: center;
    margin: 20px 0;
    font-size: 14px;
    color: #ffffff;
    position: relative;
}

.divider::before,
.divider::after {
    content: "";
    height: 1px;
    width: 40%;
    background: #ddd;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.divider::before {
    left: 0;
}

.divider::after {
    right: 0;
}

.google-login-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.google-login-button img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.google-login-button:hover {
    background-color: #f7f7f7;
}

.new-user{
    text-decoration: none;
    color: #fcf9f9;
}

.new-user:hover{
    color: #acaeb0;
}

.heading{
    color: #ffffff;
}

.label-custom{
    color: #ffffff;
}