body {
    background-color: #4283de;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 97vh;
}

.register-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 40%;
}

.register-form {
    display: flex;
    flex-direction: column;
}

.register-form h2 {
    margin-bottom: 20px;
}

.register-form label {
    margin-bottom: 5px;
    font-weight: bold;
}

.register-form input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.register-form button {
    padding: 10px;
    background-color: #4283de;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.register-form button:hover {
    background-color: #3573bd;
}
