<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/Login.css' %}">
</head>

<body>
    <div class="cimage">
        <img src="{% static 'images/coverimage.jpg' %}" alt="Engineering">
    </div>

    <div class="login-container">
        <form class="login-form">
            <h2>Welcome to TourCraze</h2>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <button type="submit">Login</button>
            <div class="divider">OR</div>
            <!-- <button type="button" class="google-login-button" onclick="loginWithGoogle()">
                    <img src="https://www.gstatic.com/firebasejs/ui/2.0.0/images/auth/google.svg" alt="Google logo">
                    Login with Google
                </button> -->

            <p class="label-custom">Don't have an account!</p>

            <div class="register-box">
                <p class="label-custom1"><a href="register.html" class="new-user">Register Here</a></p>
            </div>


        </form>
    </div>


    <script>
        function loginWithGoogle() {
            // Implement Google login logic here
            alert("Google login not implemented");
        }
    </script>

</body>

</html>